.menu-list {
    background-color: black;
}

#list-data {
    background-color: white;
    display: block;
    height: 500px;
    overflow: auto;
}

.audio-spectrum {
    width: auto;
    height: auto;
    background-color: whitesmoke;
}

.transkrip {
    height: 100px !important;
}

.button-simpan {
    background-color: salmon !important;
}